{% extends 'base.html' %}
{% block content %}

    <h1>Grupos</h1>
    <br>
    <form action="{% url 'sortear_grupos' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary">Sortear Grupos</button>
    </form>
    <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for grupo in grupos %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ grupo.nombre }}</h5>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% for equipo in grupo.equipos.all %}
                                        <li class="list-group-item">{{ equipo.nombre }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
